.dark-theme {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  margin: auto;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  background-color: rgb(56, 52, 52);
  color: white;
  input {
    width: 350px;
  }
}
