.nannaBhai {
  height: 700px;
  // width: 700px;
  background-color: rgb(130, 130, 65);
  // margin: auto;
}
.btn-ct {
  list-style-type: none;
  font-weight: bolder;
  text-decoration: none;
  padding: 3px;
  font-family: monospace;
  color: rgb(157, 47, 47);
  font-size: 18px;
}
.btn-ct:hover {
  color: white;
}
